:root {
  --accent-color: #8D6C9F;
  --bg-color: #F9E3AE;
  --light-color: #FAEFDE;
  --dark-color: #F6D397;
}

body {
  background-color: var(--bg-color);
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
}

.App .container {
  background-color: var(--light-color);
  border: 3px solid var(--accent-color);
  border-radius: 40px;
  box-shadow: 2px 2px 1px var(--accent-color);
  font-family: "Ubuntu", sans-serif;
  max-width: fit-content;
  padding: 30px 30px 30px;
}

.App .current {
  margin: 20px 0 5px;
}


.App .col {
  min-width: 323px;
}

@media (max-width: 1034px) {
  .App .current {
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
  }

  .App .col {
    display: flex;
    justify-content: center;
  }
}

