.CurrentWeather .currentWeatherDescription {
  color: #4d4f4e;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 10px;
}

.CurrentWeather .currentWeatherDescription::first-letter {
  text-transform: capitalize;
}

.CurrentWeather .currentTemp {
  color: #4d4f4e;
  font-size: 28px;
  margin-bottom: 10px;
}
.CurrentWeather .currentTempNumber {
  font-weight: 900;
}

.CurrentWeather .currentWeatherDetails {
  font-size: 15px;
}

@media (max-width: 1034px) {
  .CurrentWeather .currentTemp, .currentWeatherDescription {
    text-align: center;
  }
}
