.SearchField .currentLocationButton, .cityInput, .searchButton {
  border: none;
  border-radius: 5px;
  display: inline;
  height: 34px;
}

.SearchField .currentLocationButton, .searchButton {
  background-color: var(--dark-color);
  padding: 5px 8px;
}

.SearchField .currentLocationButton {
  margin-right: 10px;
}

.SearchField .currentLocationPin {
  color: var(--accent-color);
}

.SearchField .cityInput {
  max-width: 200px;
  padding: 3.5px 5px;
}

.SearchField .searchButton {
  margin-left: 10px;
}

@media (max-width: 1034px) {
  .SearchField {
    display: flex;
    justify-content: center;
  }
}
